@model IEnumerable<FinalUygulama.Models.Haber>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HaberBaslik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HaberAciklama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HaberDetay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HaberResimYolu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kategori)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HaberTarihi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HaberBaslik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HaberAciklama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HaberDetay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HaberResimYolu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kategori)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HaberTarihi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HaberID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HaberID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HaberID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
